@import "compass/css3";
/* ===================== BASIC STYLING ===================== */
 * {
	 box-sizing: border-box;
	 font-family: 'Lato', sans-serif;
}
 html, body {
	 margin: 0;
	 padding: 0;
	 font-weight: 300;
	 height: 100%;
	 background: #0000009e;
	 color: #fff;
	 font-size: 16px;
	 overflow: hidden;
	 background: -moz-linear-gradient(top, #0000009e 0%, #00659b 100%);
	/* FF3.6+ */
	 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0000009e), color-stop(100%, #00659b));
	/* Chrome,Safari4+ */
	 background: -webkit-linear-gradient(top, #0000009e 0%, #00659b 100%);
	/* Chrome10+,Safari5.1+ */
	 background: -o-linear-gradient(top, #0000009e 0%, #00659b 100%);
	/* Opera 11.10+ */
	 background: -ms-linear-gradient(top, #0000009e 0%, #00659b 100%);
	/* IE10+ */
	 background: linear-gradient(to bottom, #0000009e 0%, #00659b 100%);
	/* W3C */
}

 h1 {
 	 position: relative;
	 text-align: center;
	 margin: 50px auto;
	 font-weight: 100;
	 font-family: Inversionz;
	 src: url(inversionz/Inversionz.ttf);
}
 label {
 	 position: relative;
 	 font-weight: 500;
	 display: block;
	 margin: 2px 0;
	 text-transform: uppercase;
	 font-size: 13px;
	 overflow: hidden;
}

 label span {
 	 position: relative;
	 float: right;
	 text-transform: none;
	 font-weight: 200;
	 line-height: 1em;
	 font-style: italic;
	 opacity: 0.8;
	 font-size: 13px;
}
 .form-controll {
 	 position: relative;
	 display: block;
	 padding: 8px 16px;
	 width: 100%;
	 font-size: 16px;
	 background-color: rgba(255, 255, 255, 0.2);
	 border: 1px solid rgba(255, 255, 255, 0.3);
	 color: #fff;
	 font-weight: 200;

}
 .form-controll:focus {
 	 position: relative;
	 outline: 2px solid rgba(255, 255, 255, 0.5);
	 outline: -webkit-focus-ring-color auto 5px;
}
 button {
 	 position: relative;
	 padding: 10px 30px;
	 background: rgba(255, 255, 255, 0.8);
	 color: #0000009e;
	 text-transform: uppercase;
	 font-weight: 600;
	 font-size: 11px;
	 border: 0;
	 text-shadow: 0 1px 2px #fff;
	 cursor: pointer;
	 padding-inline: 50px;
}

#submitx {
	 position: relative;
	 padding: 10px 30px;
	 background: rgba(255, 255, 255, 0.8);
	 color: #0000009e;
	 text-transform: uppercase;
	 font-weight: 600;
	 font-size: 11px;
	 border: 0;
	 text-shadow: 0 1px 2px #fff;
	 cursor: pointer;
	 padding-inline: 50px;
}
 .form-group {
 	position: relative;
	 max-width: 500px;
	 margin: auto;
	 padding-inline: 30px;
	 margin-bottom: 20px;

}

.form-controll {
	position: relative;
	text-transform: capitalize;
	text-decoration: blink;
}
 .back-to-article {
	 color: #fff;
	 float: left;
	 text-transform: uppercase;
	 font-size: 12px;
	 position: absolute;
	 top: 90%;
	 text-decoration: none;
	 display: inline-block;
	 background: rgba(0, 0, 0, 0.6);
	 padding: 10px 18px;
	 transition: all 0.3s ease-in-out;
	 opacity: 0.6;
}
}

 .back-to-article:hover {
 	position: relative;
	 opacity: 1;
	 background: rgba(0, 0, 0, 0.8);
}
 